a.out
node_modules
main
tmp

build
nbproject
test

input.txt
output.txt
error.txt

*.class
*.form

*.o
.env
env
/CSE-202 (Object Oriented Programming Lab)/test/build/
/CSE-202 (Object Oriented Programming Lab)/test/nbproject/private/
/CSE-202 (Object Oriented Programming Lab)/PhoneBook/nbproject/private/
/CSE-202 (Object Oriented Programming Lab)/PhoneBook/build/
/CSE-202 (Object Oriented Programming Lab)/Java-CurrencyConverter/nbproject/private/
/CSE-202 (Object Oriented Programming Lab)/Java-CurrencyConverter/build/
/CSE-206 (Algorithm Lab)/Sorting Algorithms/nbproject/private/
/CSE-206 (Algorithm Lab)/Sorting Algorithms/build/
sorting-visualizer
