* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

hr{
    padding: 1px;
    width: 100%;
    background-color: #4caf50;
}

h2 {
  margin: 20px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  width: 80vw;
  margin: 20px auto;
}

.container .about_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.container .about_section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.container .more_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.container .class_routine {
  width: 80%;
}
