* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url('./bg.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(172, 173, 176, 0.27);
  border-radius: 10px;
  display: flex;
}